* {
    margin: 0px;
    padding: 0px;
}

body{
    height: 300vh;
}

.sticky{
    margin: 50px;
    padding: 50px;
    border: 5px solid;
    position: sticky;
    bottom: 0px;
    /* top: 0; */
    /* background-color: white; */
    /* color: white; */
}


.fixed{
    margin: 20px;
    padding: 20px;
    border: 5px solid;
    width: fit-content;
    position: fixed;
    right: 0px;
    bottom: 0px;
}


.relative{
    margin: 20px;
    border: 5px solid;
    width: 50vw;
    height: 50vh;
    position: relative;
}

.absolute{
    margin: 10px;
    border: 5px solid #aa4444;
    width: 10vw;
    height: 10vh;
    position: absolute;
    bottom: 2%;
    right: 2%;
}